<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>

<section class="first-row">

<article class="info">
    
    <h1>Sign up</h1>

    <%= render 'partials/form' %>

</article>

</section>